*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
}
section{
    height: calc(100% - 4rem);
    width: 100%;
}
.sign-page{
    background-image: url("../img/i2s.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
    width: 100%;
}
.sign-1{
    flex:1;
    /* background-image: url("../img/signup.png");
    background-size: cover;
    background-repeat: no-repeat; */
}
.sign-2{
    flex:1;
    display: flex;
    align-items: center;
}

.sign-box{
    height: 98%;
    width: 95%;
    background-color: rgb(255, 255, 255,0.8);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

input{
    font-size: 15px;
    border-radius: 5px;
    border:1px solid grey;
    height: 40px;
    padding-left: 20px;
}
#line1{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}
#line2{
    margin-bottom: 15px;
}
#line3{
    margin-bottom: 15px;
}

#line1 input{
    width: 100%;
}
#line2 input{
    width: 100%;
}
#line3 input{
    width: 100%;
}
#line4 input{
    width: 100%;
}

#sign-text{
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}
#check{
    display: flex;
    align-items: center;
    gap: 5px;
}
#toggle{
    border: none;
    background-color: transparent;
    font-size: 18px;
    color:rgb(61, 61, 61);
}

#submit{
    margin-top: 10px;
    background: linear-gradient(to right,#7B10F8,#4260FD);
    border:none;
    border-radius:20px;
    color:white;
    /* padding:18px 40px; */
    width: 95%;
    padding:10px 0;
    font-size:22px;
    font-weight:600;
    box-shadow: 0 8px 20px rgba(87, 55, 252, 0.25);
    font-family: sans-serif;
}

@media (max-width:768px) {
    .sign-2{
        margin-top: 150px;
    }
    .sign-box{
        margin-left: 10px;
    }
    .sign-page{
        background-position: 8% center;
        flex-direction: column;
        background-size:cover ;
        height: fit-content;
    }

}
